@{
    ViewData["Title"] = "CNAB File Upload";
}
<section>
	<header class="main">
		<h1>CNAB File Upload</h1>
	</header>

	<form asp-action="Upload" method="post" enctype="multipart/form-data">
		<div class="row gtr-uniform">
			<div class="col-12">
				<label for="file">Select CNAB File:</label>
				<input type="file" id="file" name="file" accept=".txt" />
			</div>
			<div class="col-12">
				<ul class="actions">
					<li><input type="submit" value="Upload" class="primary" /></li>
				</ul>
			</div>
			@if (ViewBag.Success != null)
			{
				<div class="col-12">
					<p class="success-message">@ViewBag.Success</p>
				</div>
			}
			@if (ViewBag.Error != null)
			{
				<div class="col-12">
					<p class="error-message">@ViewBag.Error</p>
				</div>
			}
		</div>
	</form>

</section>