@{
    var title = ViewData["Title"]?.ToString();
    title = string.IsNullOrEmpty(title) ? "ByCodersTec" : title + " - ByCodersTec";
}
<!doctype html>
<html>
<head>
	<title>@title</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="title" content="ByCodersTec" />
    <meta name="autor" content="Fabricio Gabrielli da Silva" />
    <meta name="company" content="ByCodersTec" />
    <meta name="robots" content="all" />
    <meta name="revisit-after" content="1 days" />
    <meta name="geo.country" content="br" />
    <meta name="rating" content="General" />
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />

    @await RenderSectionAsync("ScriptsHead", required: false)
</head>

<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Main -->
		<div id="main">
			<div class="inner">

				<!-- Header -->
				<header id="header">
					<a href="~/" class="logo"><strong>Programming Challenge</strong> - Developer Position</a>
				</header>

				@RenderBody()

			</div>
		</div>

		<!-- Sidebar -->
		<div id="sidebar">
			<div class="inner">

				<!-- Menu -->
				<nav id="menu">
					<header class="major">
						<h2>Menu</h2>
					</header>
					<ul>
						<li><a href="~/">CNAB File Upload</a></li>
						<li><a href="~/transactions">Transactions</a></li>
					</ul>
				</nav>

			</div>
		</div>

	</div>

    <script src="~/js/jquery.min.js" asp-append-version="true"></script>
    <script src="~/js/browser.min.js" asp-append-version="true"></script>
    <script src="~/js/breakpoints.min.js" asp-append-version="true"></script>
    <script src="~/js/util.js" asp-append-version="true"></script>
    <script src="~/js/main.js" asp-append-version="true"></script>
    @await RenderSectionAsync("ScriptsFooter", required: false)
</body>
</html>